.App {
  text-align: center;
}

.app__form {
  padding: 20px;
  position: fixed;
  bottom:0;
  z-index:1;
  width:90%;
  background-color:#e9e9eb;
  margin:20px;
}

.app__formControl {
  display: flex !important;
  flex-direction: row !important;
}


.app__iconButton {
  flex:0;
}

.app__input {
  flex:1;
}